<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--안드로이드에서 BLE 사용을 위한 권한 리스트  -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <!-- Request legacy Bluetooth permissions on versions older than API 31 (Android 12). -->
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"-->
<!--        android:maxSdkVersion="30" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"-->
<!--        android:maxSdkVersion="30" />-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!--안드로이드에서 앱이 죽거나 부팅시 서비스를 시작 하기 위한 권한  -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--안드로이드에서 진동을 위한 권한  -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--안드로이드에서 노티를 사용 해서 화면을 전환 위한 권한  -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!--안드로이드에서 네트워크 사용을 위한 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--안드로이드에서 서비스를 사용을 위한 권한 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <!--안드로이드에서 배터리 설정을 하기 위한 권한  -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".AlwaysA2RTApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AGMSP"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MySplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AGMSP"></activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_oauth_host" />
            </intent-filter>
        </activity>

        <service
            android:name=".ble.AlwaysA2RTService"
            android:foregroundServiceType="connectedDevice" />

        <receiver
            android:name=".ble.AlwaysA2RTBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.CLOSE_SYSTEM_DIALOGS" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.ACTION_PACKAGE_RESTARTED" />
                <action android:name="android.intent.action.ACTION_MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>